@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-image: url("https://4kwallpapers.com/images/wallpapers/outrun-neon-dark-background-purple-1920x1080-4523.jpg");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  color: #fff;
}

.container {
  width: 400px;
  height: 500px;
  background: radial-gradient(97.57% 210.75% at 0.9% 2.98%, rgba(0, 0, 0, 0.71) 0%, rgba(0, 0, 0, 0.65) 100%);
  backdrop-filter: blur(25px);
  border-radius: 16px;
  padding: 30px;
}

.desafio-1,
.desafio-2,
.desafio-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
}

input {
  width: 100%;
  height: 60px;
  background: #DCDCDC;
  border-radius: 8px;
  border: none;
  margin: 20px 0;
  padding: 0 20px;
  font-size: 1.1rem;
}

.btn {
  width: 100%;
  height: 50px;
  background: #9432C2;
  border-radius: 8px;
  border: none;
  margin: 20px 0;
  padding: 0 20px;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}